.heroSection {
    display: flex;
    flex-direction: column;
    /* min-height: calc(100vh - 80px); */
  }
  
  @media screen and (min-width: 1024px) {
    .heroSection {
      flex-direction: row;
    }
  }
  
  .left {
    flex: 1;
    background-color: #1C4A2A;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 60px;
  }
  
  .heading {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 24px;
  }
  
  .description {
    font-size: 18px;
    max-width: 500px;
    margin-bottom: 32px;
    opacity: 0.7;
  }
  
  .ctaButton {
    padding: 12px 0;
    width: 25%;
    background-color: #ffffff;
    color: #1C4A2A;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .ctaButton:hover {
    background-color: #f5f5f5;
  }
  
  .right {
    flex: 1;
    display: flex;  
  }
  
  .heroImage {
   width: 100%;
    height: calc(100vh - 80px);
  }
  
  