@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";


:root {
  --primary-color: #1C4A2A;
  --light-gray: #E4E4E7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #333333;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

h1, h2 {
  text-align: center;
}

button {
  cursor: pointer;
}
